.best-seller-section {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.best-seller-head {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
}

.view-all-text {
    font-size: 12px;
    border-bottom: 2px solid #000000;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.product-preview {
    border: 1px solid #c4c4c4;
    padding: 20px;
    position: relative;
}

.favorite-in {
    position: absolute;
    top: 10px;
    right: 20px;
}

.favorite-in img {
    height: 20px;
    object-fit: cover;
}

.images {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.description-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price {
    font-size: 20px;
    font-weight: 700;
}

.add-to-cart {
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width:618px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:617px) and (max-width: 869px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:870px) and (max-width:1119px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1120px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}